.form-d{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.col-3{
    margin: 10px;
}
.custom-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}